/* For Mobile Devices – 320px — 480px.
iPads and Tablets – 481px — 768px.
Laptops and small screen – 769px — 1024px.
Large screens and Desktops – 1025px — 1200px.
TV and Extra Large Screens – 1201px and more. */

/* ======================= Large Device =================== */
/* ======================= Large Device =================== */

/*
 Main Design
 */

/* ======================= small screen or Laptop Device =================== */

/* @media screen and (max-width: 1024px) {
 

} */

/* ======================= Small Device =================== */
/* ======================= Small Device =================== */

/* @media screen and (max-width: 480px) {
 
} */

/* ======================= Extra Large Device =================== */
/* ======================= Extra Large Device =================== */

@media screen and (min-width: 1200px) {
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sticky_Nav {
  background: #000;
  border-bottom: 1px solid #fff5;
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  z-index: 1000;
  animation: fadeAnimation 300ms 1;
  box-shadow: 0px 4px 6px 0px rgba(42, 25, 49, 0.08);
  padding: 0px 3rem;
}
.sticky_nav_max_width {
  width: min(100% - 0rem, 145ch);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo_image {
  width: 7.5rem;
}

@keyframes fadeAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Large Device */
@media screen and (max-width: 1024px) {
  .sticky_Nav {
    padding: 0px 3rem;
  }
}

/* ======================= Midium Device =================== */
@media screen and (max-width: 768px) {
  .sticky_Nav {
    padding: 0px 1rem;
  }
  .logo_image {
    width: 8rem;
  }
}

/* ======================= Small Device =================== */
@media screen and (max-width: 480px) {
  .sticky_Nav {
    padding: 0px 12px;
  }
  .logo_image {
    width: 8rem;
  }
}
